<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <mat-card>
    <mat-card-header>
        <mat-card-title>{{testimony.title}}</mat-card-title>
        <mat-chip-list class="testimony-lables">
        <mat-chip class="testimony-lable">
          <mat-icon>label</mat-icon>
        Testimony
        </mat-chip>
        </mat-chip-list>
    </mat-card-header>
    <mat-card-content>
      <video  src="https://www.youtube.com/embed/{{testimony.url}}" controls="controls" autoplay></video>
      <p class="info-text">{{testimony.infoText}}</p>
    </mat-card-content>
  </mat-card>
</body>
</html>